<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Timestamp Microservice</title>
</head>
<body>
    <div class="header">
        <h1>Timestamp Microservice</h1>
        <hr>
    </div>
    <div class="main">
        <h3>Example Usage:</h3>
        <a href="/api/timestamp/2015-12-25"><p>/api/timestamp/2015-12-25</p></a>
        <a href="/api/timestamp/1451001600000"><p>/api/timestamp/1451001600000</p></a>
        <h3>Example Output:</h3>
        <p>{"unix":1451001600000,"utc":"Thu Dec 24 2015 19:00:00 GMT-0500 (Eastern Standard Time)"}</p>
    </div>
    <div class="footer">
        <p></p>
    </div>
</body>
</html>